<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.nurulfikri.pinjamkelas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cara Ngilangin INI GIMANA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomepageActivity" />
        <activity android:name=".AlasanPinjamActivity" />
        <activity android:name=".GrafikPinjamActivity" />
        <activity android:name=".PeminjamanActivity" />
        <activity android:name=".PengajuanBerhasilActivity" />
        <activity android:name=".RiwayatActivity" />
    </application>

</manifest>